<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98181303289-955a2jj1kr9kq8c77j9qls8ffhoi1mrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98181303289-955a2jj1kr9kq8c77j9qls8ffhoi1mrf</string>
	<key>API_KEY</key>
	<string>AIzaSyBirPZEFXwQ0IFOZUt2UKXh0iB-2gOyxTg</string>
	<key>GCM_SENDER_ID</key>
	<string>98181303289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.markba.markbase</string>
	<key>PROJECT_ID</key>
	<string>markbase-by-blackbrain</string>
	<key>STORAGE_BUCKET</key>
	<string>markbase-by-blackbrain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98181303289:ios:750b45aea2b260a7d94b28</string>
</dict>
</plist>